nav {
    text-align: center;
    background-color:#ffffff;
    height:30px;
}
 
nav ul {
    margin: 0 ;
    padding: 0 ;
}
 
nav ul li{
    list-style: none;
    display: inline-block;
    width: 10%; /* ここで項目の幅を指定します */
}
 
nav ul li a {
    text-decoration: none;
    color: #333;
}
a{
    font-size: 20px;
}

html{
background-color: #f4f4f4;

}
div{
    text-align: center;
}

.img{
    /* width: 150%; */
    text-align: center;

}
